header{
    width: 100%;
    height: 320px;
    background-image: url("#");
    background-size: cover;
    background-position: center;
}

.head_container{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

h1{
    font-size: 18px;
}

header ul{
    list-style-type: none;
}

header ul li{
    display: inline-block;
}

header h1{
    text-align: center;
    margin-top: 120;
}

nav ul{
    list-style-type: none;
    text-align: center;
}

nav li{
    display: inline-block;
    width: 150px;
    text-align: center;
}
